<div class="vertical-container">
  <header>
    <img class="qrcode" src="img/qrerror.png" alt="counect">
    <span class="error">错误详情: 错误101</span>
    <span class="tips1">提示:主页下方可以查询您的会员卡</span>
    <span class="tips2">余额可以再次投币使用</span>
  </header> 
</div>
